
body { 
  
	margin: 20px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}

/*----section color style----*/

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.125rem;
}

h2 , h3 , h4  {

color: rgb(194, 175, 65);

}

.linkmargin {
  
  margin-left: 60px;

}

.textsection {

	background-color: wheat;
	
}

.articlestyle {
	background-color: white;
}

.sidetextstyle{
	background-color: rgb(231, 231, 231);
}

.sponsorstyle {
	background-color: white;
}

.footerstyle {
	background-color: wheat ;
	 
}

.btn{
	background-color: #000000;
	color: rgb(194, 175, 65);
}


.btn:hover{
	background-color: rgb(98, 24, 36);
	color:  rgb(194, 175, 65);
}


.searchbar {
  width: 60%;
  border: 3px solid #bdbdbd;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  
}

.searchbutton {
	width: 40px;
  height: 36px;
  border: 1px solid #bdbdbd;
  background: #bdbdbd;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
/*----social media flair----*/

.socialemedier {
margin-left: 40%;
margin-top: 10px;
}


ul.social-network {
	list-style: none;
	display: inline;
	
	padding: 0;
}
ul.social-network .socialbuttons {
	display: inline;
	
	margin: 0 5px;
	
}


/*----footer social icons----*/
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle .socialbuttons .colorbt {
	display:inline-block;
	
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle .socialbuttons i {
	
	
	line-height:50px;
	
}

.social-circle .socialbuttons .colorbt:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.colorbt {
	background-color:rgb(194, 161, 50);   
 }

/*----social media flair----*/


/*----article/Pagination start----*/

.list{
	margin-top: 50px;
}

#pagination-container{
	margin-top: 11px;
}

.simple-pagination ul {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	text-align: center;
}

.simple-pagination li {
	display: inline-block;
	margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
	color: #666;
	padding: 5px 10px;
	text-decoration: none;
	border: 1px solid #EEE;
	background-color: #FFF;
	box-shadow: 0px 0px 10px 0px #EEE;
}

.simple-pagination .current {
	color: #FFF;
	background-color: #2a2223;
	border-color: #acacac;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
	background: #cecece;
}

/*----article/Pagination end----*/

.side-text {
	margin-top: 10px;

}
.sidetextstyle{
	margin-top: 49px;
}

.sidetekst {
	margin-left: 18px;
}
/*----side text end----*/

.sponsor{
	margin-top: 1%;
	margin-bottom: 1%;
	
}




/*----sposnor section end----*/

.footerstyle {
	margin-top: 50px;
}


/*----@media size change----*/
@media only screen and (max-width: 1200px) {
  .linkmargin {
    margin-left: 0;
	}


}

@media only screen and (max-width: 500px) {

	h2{
		font-size: 1.5em ;
	}


	.social-circle .socialbuttons .colorbt {

		width: 43px;

	}
}


